<!DOCTYPE html>
<html style="position: relative; min-height: 100%;" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DataHotep</title>
    <meta name="description" content="Datahotep Incorporated" />
    <meta name="keywords" content="Sim,Crea,Nu,Stuff,Good,Science,Fun,Explore,Adventure" />
    <meta name="author" content="Datahotep Incorporated" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="English" />

    <link href="https://unpkg.com/pattern.css" rel="stylesheet">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "DataHotep",
            "publisher": "DataHotep Inc.",
            "inLanguage": "English"
        }
    </script>

</head>



<body style="background: linear-gradient(#595959, #000000);  margin-left: 0px;margin-top: 0px;margin-right: 0px; margin-bottom: 0px; opacity: .85; font-family: Arial, Helvetica, sans-serif;">

    <div id="bgImg" name="bgImg" style="background-image: url(imgs/bg_trans_hive.svg);">
        <header style="background: linear-gradient(#278241, #206536); opacity: 0.85; overflow: hidden; padding: 0px 64px;  text-decoration: none; display: flex; justify-content: flex-start; text-align: center; flex-wrap: wrap; padding-top: 24px; border-bottom-style: inset; border-bottom-width: 0px; padding-bottom: 36px; ">





            <div style="padding-left: 16px;padding-right: 16px; margin-right: 128px; padding-bottom: 8px; padding-top: 8px; ">
                <a href="#" style="text-decoration: inherit;">

                    <span id="logo" style="color: #9fd9b3; font-size: xx-large; font-weight: bold; text-shadow: 10px 5px 5px  rgba(0, 0, 0, 0.50);">DataHotep</span>
                </a>
            </div>


        </header>

        <main>







            <div id="contentCenters" style="height: 256vh; background: inherit; padding: 0px; margin-top: 1.5vw; margin-left:8vw; margin-right:8vw; margin-bottom:6vw; ">


                <div id="innerContentCenters" style="margin: 0px; display: flex; flex-flow: column wrap;  justify-content: space-around; background-color: inherit;">



                    <article style="padding: .5vw; margin: .5vh; ">
                        <a style="text-decoration: none;color: inherit;" href="#">
                            <div class="pattern-cross-dots-lg" style=" box-shadow: 4px 4px 10px; ">
                                <header style="padding: .4em;  background-color: #278241;">
                                    <h1 style="text-shadow: .3rem .3rem 1rem black;">[ Nab Negro ]</h1>
                                </header>

                                <div style="font-size: 1.2rem; background-color: #83b090; padding: 1rem;">
                                    <img src="https://cms.afrotech.com/wp-content/uploads/2022/09/Untitled-4-1568x882.png" style="height: 9rem; width: 16rem; ">
                                    <p>I love beagles <em>so</em> much! Like, really, a lot. They're adorable and their ears are so, so snuggly soft!</p>
                                </div>

                                <footer style="background-color: #278241; padding: .3rem;">
                                    <p style="text-shadow: .3rem .3rem 1rem black;">
                                        Posted on
                                        <time datetime="2015-05-17 19:00">September 8th</time> by RC.
                                    </p>
                                </footer>

                            </div>
                        </a>
                    </article>


                </div>

            </div>




            <section>


                <nav style="visibility: visible; color: #cccccc; font-size: xx-large; font-weight: bold; text-decoration: none; margin-top: 16px; margin-bottom: 16px; padding-right: 64px; padding-left: 64px; text-align: center; padding-bottom: 16px; padding-top: 16px;">
                    <a style="color: inherit; text-decoration: inherit;" href="/html/">1</a> |
                    <a style="color: inherit; text-decoration: inherit;" href="/css/">2</a> |
                    <a style="color: inherit; text-decoration: inherit;" href=" /js/ ">3</a> |
                    <a style="color: inherit; text-decoration: inherit;" href="/jquery/">4</a> | ...
                    <a style="color: inherit; text-decoration: inherit;" href="/jquery/">All/&#128270;</a> |
                    <a style="color: inherit; text-decoration: inherit;" href="/jquery/">About/&#8505;&#65039;</a>
                </nav>






            </section>
        </main>


    </div>
    <div style="visibility: visible; color: azure; font-size: xx-large; font-weight: bold; text-decoration: none; margin-top: 16px; margin-bottom: 16px; padding-right: 64px; padding-left: 64px; text-align: center;">

    </div>
    <footer style="background: linear-gradient(#206536,#278241); opacity: 0.85; overflow: hidden; padding: 20px 10px; margin-top: 16em;">

        <div style="padding-bottom: 4vw; padding-top: 1vw;">

            <div style="padding-bottom: 16px;">

            </div>


            <span style="color: azure; font-size: large; font-weight: bold;">
                <details>
                    <summary>

                            Datahotep Incorporated. 2022.
                            
                        </summary>
                        <p>
                            Something small enough to escape casual notice.
                        </p>
                        
                        <p>
                            +16506189569
                        </p>
                    </details>
                    
                </span>


            <audio controls autoplay>
                    <source id="introAudio" src="05_Challenging_Stage.mp3" type="audio/mpeg">
                   Your browser does not support the audio element.
            </audio>

            <script>
                myAudioPlayer = document.getElementById("introAudio");
                myAudioPlayer.play();
            </script>

        </div>
    </footer>
    </div>
</body>

</html>
<script>
</script>
